 .box{
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: peachpuff;
     padding: 20px;
     width: 100%;
 }

 #password{
     width: 100%;
 }

 .navbar-brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: gray;
 }
